<div class="custom-card-view">
  {{ range .Params.cards }}
  <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
    <a href="{{ .url }}" class="card-link" style="text-decoration: none; color: inherit;">
      <!-- 카드 이미지 -->
      <img src="{{ .image }}" alt="{{ .title }}" class="card-img-top" style="height: 200px; object-fit: cover;">
      
      <div class="card-body" style="padding: 15px;">
        <!-- 카드 제목 -->
        <h5 class="card-title" style="font-size: 1.25rem; margin-bottom: 10px;">{{ .title }}</h5>
        <!-- 카드 설명 -->
        <p class="card-text" style="font-size: 0.9rem; color: #555;">{{ .summary }}</p>
      </div>
    </a>
  </div>
  {{ end }}
</div>
